@mixin buttonReset() {
    background: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;

    &:hover,
    &:focus,
    &:active {
        background: transparent;
    }
}
