@import "../variabels/screen";

@mixin wrapper() {
    @if $screen__fluid == false {
        width: $screen__width--default + $wrapper__margin * 2;
    } @else {
        max-width: $screen__width--max;
        min-width: $screen__width--min;
    }

    margin-left: auto;
    margin-right: auto;
    padding-left: $wrapper__margin;
    padding-right: $wrapper__margin;
}
