@import "/app/styles/variabels/colors";

.Logotype {
    &__link.Link {
        display: block;
        width: 136px;
        height: 23px;
        border-bottom: none;
        color: $color__black;
    }

    &__image.Icon {
        display: block;
        width: 136px;
        height: 23px;
    }
}
