$color__black: #222;
$color__gray: #676673;
$color__lightGray: #eff1f5;
$color__darkBlue: #1d3649;

$color__link--default: #368cda;
$color__link--hover: #da2f0d;
$color__link--active: #b90000;

$color__formAccent: #cdd0d5;
