$font__family--default: Lato, Arial, Tahoma, sans-serif;
$font__family--monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font__size--xs: 1.2rem;
$font__lineHeight--xs: 1.6rem;

$font__size--s: 1.4rem;
$font__lineHeight--s: 1.9rem;

$font__size--m: 1.6rem;
$font__lineHeight--m: 2.2rem;

$font__size--l: 1.8rem;
$font__lineHeight--l: 2.4rem;

$font__size--xl: 2rem;
$font__lineHeight--xl: 2.7rem;

$font__size--xxl: 2.4rem;
$font__lineHeight--xxl: 3.2rem;

$font__size--xxxl: 2.8rem;
$font__lineHeight--xxxl: 3.8rem;

$font__marginBottom: $font__size--m;




$fonts: (
        xs: (
                size: 1.2rem,
                lineHeight: 1.6rem,
        ),
        s: (
                size: 1.4rem,
                lineHeight: 1.9rem,
        ),
        m: (
                size: 1.6rem,
                lineHeight: 2.2rem,
        ),
        l: (
                size: 1.8rem,
                lineHeight: 2.4rem,
        ),
        xl: (
                size: 2rem,
                lineHeight: 2.7rem,
        ),
        xxl: (
                size: 2.4rem,
                lineHeight: 3.2rem,
        ),
        xxxl: (
                size: 2.8rem,
                lineHeight: 3.8rem,
        ),
);
