@import "/app/styles/variabels/colors";
@import "/app/styles/mixins/wrapper";

.Footer {
    margin-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid $color__lightGray;

    &__wrapper {
        @include wrapper();
    }
}
