.Icon {
    display: inline-block;
    vertical-align: baseline;
    background: transparent no-repeat;

    &_logotype {
        width: 91px;
        height: 91px;
    }

    &_caret {
        width: 8px;
        height: 4px;
    }
}
