@import "/app/styles/variabels/colors";
@import "/app/styles/mixins/wrapper";
@import "/app/styles/mixins/clearfix";

.Header {
    padding-top: 5rem;
    margin-bottom: 5rem;

    &_introduction {
        padding-bottom: 5rem;
        background: $color__lightGray;
    }

    &__wrapper {
        @include wrapper();
    }

    &__container {
        @include clearfix;
    }

    &__logotype {}

    &__navigation {}
}
