@import "/app/styles/mixins/buttonReset";

@import "/app/modules/controls/components/Button/mixins";

.Button {
    $this: &;

    @include Button_base();

    &_size {
        &_m {
            @include Button_size($size: m);

            padding: .8rem 2rem;
            border-radius: 4px;

            &#{$this}_before {
                padding-left: 1.4rem;
            }

            &#{$this}_after {
                padding-right: 1.4rem;
            }

            #{$this}__before {
                margin-right: 1.2rem;
            }

            #{$this}__after {
                margin-left: 1.2rem;
            }
        }
    }

    &_theme {
        &_default {
            @include Button_theme(default);
        }
    }

    &_before {}

    &_after {}

    &__before,
    &__after {
        display: inline-block;

        .Icon {
            vertical-align: middle;
        }
    }

    &__content {
        display: inline-block;
    }
}
