@import "/app/styles/variabels/screen";
@import "/app/styles/variabels/grid";

@import "/app/styles/mixins/grid";

// From bigger to smaller screen
$screen-width: (
        xl: $screen__breakpoint--xl,
        l: $screen__breakpoint--l,
        m: $screen__breakpoint--m,
        s: $screen__breakpoint--s,
        xs: $screen__breakpoint--xs,
);

.GridItem {
    @for $i from 1 through $grid__columns {
        &_columns_#{$i} {
            @include column($i/$grid__columns, $grid__gutter);
        }
    }

    @for $i from 1 through $grid__columns {
        &_offset_#{$i - 1} {
            @include offset(($i - 1)/$grid__columns, $grid__gutter);
        }
    }

    @each $screen in map-keys($screen-width) {
        @media (max-width: map-get($screen-width, $screen)) {
            @for $i from 1 through $grid__columns {
                &_columns#{to-upper-case($screen)}_#{$i} {
                    @include column($i/$grid__columns, $grid__gutter);
                }
            }

            @for $i from 1 through $grid__columns {
                &_offset#{to-upper-case($screen)}_#{$i - 1} {
                    @include offset(($i - 1)/$grid__columns, $grid__gutter);
                }
            }
        }
    }
}
